<web-app>

<servlet>
<servlet-name>ManagBrand</servlet-name>
<servlet-class>brandlist2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ManagBrand</servlet-name>
<url-pattern>/managebrands</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DeleteBrand</servlet-name>
<servlet-class>deletebrands</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteBrand</servlet-name>
<url-pattern>/delete</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>prodtlist</servlet-name>
<servlet-class>productlists</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>prodtlist</servlet-name>
<url-pattern>/productlist</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ManageProduct</servlet-name>
<servlet-class>managesproduct</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ManageProduct</servlet-name>
<url-pattern>/manageproduct</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DeleteProduct</servlet-name>
<servlet-class>deletesproduct</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteProduct</servlet-name>
<url-pattern>/deleteproduct</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>EditProduct</servlet-name>
<servlet-class>editproductlist</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>EditProduct</servlet-name>
<url-pattern>/editproduct</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>UpdateProduct</servlet-name>
<servlet-class>updatesproduct</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>UpdateProduct</servlet-name>
<url-pattern>/updateproducts</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ManagesUsers</servlet-name>
<servlet-class>managesuser</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ManagesUsers</servlet-name>
<url-pattern>/manageusers</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>DeleteUsers</servlet-name>
<servlet-class>deletesusers</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>DeleteUsers</servlet-name>
<url-pattern>/deleteuser</url-pattern>
</servlet-mapping>

-<servlet>

<servlet-name>ManagOrders</servlet-name>

<servlet-class>managesorder</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>ManagOrders</servlet-name>

<url-pattern>/manageorders</url-pattern>

</servlet-mapping>

-<servlet>

<servlet-name>updateorders</servlet-name>

<servlet-class>updatestatus</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>updateorders</servlet-name>

<url-pattern>/updatingstatus</url-pattern>

</servlet-mapping>
-<servlet>

<servlet-name>admin</servlet-name>

<servlet-class>adminlogin</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>admin</servlet-name>

<url-pattern>/adminlogsin</url-pattern>

</servlet-mapping>
-<servlet>

<servlet-name>adminlogout</servlet-name>

<servlet-class>logout</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>adminlogout</servlet-name>

<url-pattern>/logsout</url-pattern>

</servlet-mapping>
-<servlet>

<servlet-name>admincoments</servlet-name>

<servlet-class>addcoment</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>admincoments</servlet-name>

<url-pattern>/comment</url-pattern>

</servlet-mapping>
-<servlet>

<servlet-name>adcomts</servlet-name>

<servlet-class>adcom</servlet-class>

</servlet>


-<servlet-mapping>

<servlet-name>adcomts</servlet-name>

<url-pattern>/comments</url-pattern>
</servlet-mapping>
</web-app>
