<web-app>

<servlet>
<servlet-name>homee</servlet-name>
<servlet-class>homee</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>homee</servlet-name>
<url-pattern>/home</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>home</servlet-name>
<servlet-class>home</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>home</servlet-name>
<url-pattern>/home_main</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>homeee</servlet-name>
<servlet-class>homeee</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>homeee</servlet-name>
<url-pattern>/home2</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>new7</servlet-name>
<servlet-class>new7</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>new7</servlet-name>
<url-pattern>/new7</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>register</servlet-name>
<servlet-class>register</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>register</servlet-name>
<url-pattern>/reg</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>login</servlet-name>
<servlet-class>login</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>login</servlet-name>
<url-pattern>/log</url-pattern>
</servlet-mapping>





<servlet>
<servlet-name>logout</servlet-name>
<servlet-class>logout</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>logout</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>passchange</servlet-name>
<servlet-class>passchange</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>passchange</servlet-name>
<url-pattern>/passwordchange</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>changeacc</servlet-name>
<servlet-class>changeacc</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>changeacc</servlet-name>
<url-pattern>/editacc</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>sign</servlet-name>
<servlet-class>sign</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>sign</servlet-name>
<url-pattern>/signed</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>products_main</servlet-name>
<servlet-class>products_main</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>products_main</servlet-name>
<url-pattern>/products</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>particular_product</servlet-name>
<servlet-class>particular_product</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>particular_product</servlet-name>
<url-pattern>/particular_pro</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>aboutus</servlet-name>
<servlet-class>aboutus</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>aboutus</servlet-name>
<url-pattern>/about</url-pattern>
</servlet-mapping>





<servlet>
<servlet-name>delfromtrans</servlet-name>
<servlet-class>delfromtrans</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>delfromtrans</servlet-name>
<url-pattern>/del_trans</url-pattern>
</servlet-mapping>





<servlet>
<servlet-name>addtocart</servlet-name>
<servlet-class>addtocart</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>addtocart</servlet-name>
<url-pattern>/add_to_cart</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>viewcart</servlet-name>
<servlet-class>viewcart</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>viewcart</servlet-name>
<url-pattern>/view_cart</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>editaccount</servlet-name>
<servlet-class>editaccount</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>editaccount</servlet-name>
<url-pattern>/saveaccount</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>order</servlet-name>
<servlet-class>order</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>order</servlet-name>
<url-pattern>/order_</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>trans_history</servlet-name>
<servlet-class>trans_history</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>trans_history</servlet-name>
<url-pattern>/transaction</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>deliverypage</servlet-name>
<servlet-class>deliverypage</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>deliverypage</servlet-name>
<url-pattern>/delivery_page</url-pattern>
</servlet-mapping>




<servlet>
<servlet-name>delfromcart</servlet-name>
<servlet-class>delfromcart</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>delfromcart</servlet-name>
<url-pattern>/del_from_cart</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>product_specs</servlet-name>
<servlet-class>product_specs</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>product_specs</servlet-name>
<url-pattern>/pro_specs</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>comment_insert</servlet-name>
<servlet-class>comment_insert</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>comment_insert</servlet-name>
<url-pattern>/comment</url-pattern>
</servlet-mapping>



<servlet>
<servlet-name>aboutus2</servlet-name>
<servlet-class>aboutus2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>aboutus2</servlet-name>
<url-pattern>/about2</url-pattern>
</servlet-mapping>


</web-app>